*{
    border: 0;
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:100%;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.IR-container{
    width: 800px;
    height:600px;
    /* background-color: blue; */
    overflow: hidden;   
    /* transform: translateX(50%); */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid grey;
}
.IR-left{
    width: 120px;
    height: 120px;
    transform: rotate(180deg);
    /* transform: translateY(-50%); */
}
.IR-content-center{
    position: relative;
    width: 550px;
    height: 600px;
    /* clear: both; */
    /* float: right; */
    /* left: 50%; */
    /* background: blue; */
    display: inline-block;
}
.IR-right{
    width: 120px;
    height: 120px;
    /* float: right; */
}
.IR-container-con2{
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    /* height:100%; */
    /* background-color: red; */
}
.IR-LR-Center{
    margin-bottom: 244px;
}
.IR-center-content{
    /* display: ; */
    position: absolute;
    /* top:0; */
    left: 0;
    width: 100%;
    /* transform: translateY(50%); */
    top:50%;
    transform: translateY(-165px);
    /* margin-top:-165px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.IR-center-left{
    width: 330px;
    height: 330px;
    /* background: red; */
    display: inline-block;
    position: relative;
}

.IR-center-right{
    width: 210px;
    height: 210px;
    background: rgba(196, 187, 209, 0.363);
    display: inline-block;
    margin-left: 10px;
} 
.IR-center-pic1{
    position: relative;
    width: 100%;
    height: 100%;
    /* background: yellowgreen; */
    /* opacity: .3; */
    z-index: 1;
}
.IR-center-pic1-img{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    /* transition: all 1s ease-in-out; */
}
.IR-center-pic2{
    width: 80%;
    height: 80%;
    /* background: greenyellow; */
    position: absolute;
    bottom:0;
    right: 0;
    /* opacity: .3; */
    z-index: 1;
}
.IR-center-pic2-img{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    opacity: .9;
    transition: opacity 1s ease-in-out;
}
/* .IR-center-left:nth-child(2){
    width: 330px;
    height: 330px;
} */
#bigImg{
    position: absolute;
    top:0;
    left: 120px;
    z-index: 2;
    background: red;
    /* opacity: .1; */
}
.show-bigImg{
    display:block;
    z-index: -1;
}
.hide-bigImg{
    display:none;
    z-index: -1;
}
.show-group{
    display:block;
}
.hide-group{
    display:none;
}